<section class="footer-testimonials small-padding !pb-12 lg:!py-20 bg-white overflow-hidden">
	<div class="container-small block-content">
		<div class="mx-auto relative">
			<h4 class="large-heading font-semibold">From our loyal clients</h4>
			<div data-animate-reveal-right class="absolute top-1/2 -translate-y-1/2 left-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
			<div data-animate-reveal-left class="absolute top-1/2 -translate-y-1/2 right-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
		</div>
		<div class="testimonials-slider">
			<div class="swiper-wrapper">
				{% for item in options.testimonials %}
					<div class="swiper-slide text-center font-light !flex flex-col gap-3">
						<p>{{ item.content }}</p>
						<p class="font-heading text-xl">{{ item.name }}</p>
					</div>
				{% endfor %}
			</div>
			<div class="relative w-20 mx-auto mt-10">
				<div class="swiper-button-prev after:hidden">
					<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
						<path d="M12 25L17 27.8867L17 22.1132L12 25ZM37 24.5L16.5 24.5L16.5 25.5L37 25.5L37 24.5Z" fill="#1C63A0"/>
					</svg>
				</div>
				<div class="swiper-button-next after:hidden">
					<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
						<path d="M37 25L32 22.1133L32 27.8868L37 25ZM12 25.5L32.5 25.5L32.5 24.5L12 24.5L12 25.5Z" fill="#1C63A0"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="footer-contact small-padding bg-brandBackground">
	<div class="container-small grid grid-cols-1 sm:grid-cols-5 lg:grid-cols-2 max-sm:justify-center max-sm:gap-6 lg:gap-20 items-center">
		<div class="max-sm:col-span-1 max-lg:col-span-2 flex flex-col max-sm:text-center max-sm:items-center gap-3">
			<h6 class="large-heading font-semibold">Get in touch with our team</h6>
			<p class="font-light">We are always prepared to help with any travel enquiries.</p>
		</div>
		<div class="max-sm:col-span-1 max-lg:col-span-3 flex tems-center justify-center sm:justify-end gap-6">
			<a href="tel:{{ options.company_details.phone }}" class="hover-spin flex flex-col items-center justify-center gap-3 rounded-full aspect-1/1 w-36 h-36 md:h-44 md:w-44 text-center p-6">
				{% include "icons/phone.twig" with { class: "!w-8" } %}
				<span class="max-lg:text-sm font-light">Call us during open hours</span>
			</a>
			<a href="/contact-us" class="hover-spin flex flex-col items-center justify-center gap-3 rounded-full aspect-1/1 w-36 h-36 md:h-44 md:w-44 text-center p-6">
				{% include "icons/mail.twig" with { class: "!w-8" } %}
				<span class="max-lg:text-sm font-light">Send us an enquiry</span>
			</a>
		</div>
	</div>
</section>

<footer class="bg-brandBlueDark text-white">
	<div class="container-small py-12 block-content items-center">
		<span class="max-md:text-xs mb-2 uppercase font-normal">Proudly West Australian</span>
		<div data-animate-stagger-up class="grid grid-cols-2 md:grid-cols-4 items-center gap-6 place-items-center w-full">
			{% for item in options.accreditations %}
				<div><img src="{{ item.accreditation.url }}" alt="{{ item.accreditation.alt }}" class="h-14 object-contain"></div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="w-full h-[1px] bg-white opacity-25"></div>
	</div>
	<div class="container-small py-12">
		<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 md:place-items-center !items-start">
			<div class="flex flex-col gap-3">
				<span class="uppercase font-medium tracking-wide">Navigation</span>
				<div class="flex flex-col gap-2">
					{% for item in footer_menu.get_items %}
						<a href="{{ item.link }}" class="font-heading text-2xl tracking-wider font-light duration-100 hover:opacity-75">{{ item.title }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<span class="uppercase font-medium tracking-wide">Get in touch</span>
				<div class="flex flex-col gap-5">
					{% if options.company_details.phone %}
						<div class="flex flex-col gap-1">
							<span class="text-sm large-heading font-semibold">Call us</span>
							<a href="tel:{{ options.company_details.phone }}" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">{{ options.company_details.phone }}</a>
						</div>
					{% endif %}
					{% if options.company_details.email %}
						<div class="flex flex-col gap-1">
							<span class="text-sm large-heading font-semibold">Send an email</span>
							<a href="mailto:{{ options.company_details.email }}" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">{{ options.company_details.email }}</a>
						</div>
					{% endif %}
					<div class="flex flex-col gap-1">
						<span class="text-sm large-heading font-semibold">Keep up to date</span>
						<a href="/subscribe" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">Subscribe to our newsletter</a>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<span class="uppercase font-medium tracking-wide">Open Hours</span>
				<div class="flex flex-col gap-4">
					<div class="flex flex-col gap-1">
						<span class="text-sm large-heading font-semibold">All Week</span>
						<span>7AM - 7PM</span>
					</div>
					<div class="flex items-center gap-4">
						<svg width="6" height="6" viewbox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="active-icon">
							<path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3Z" fill="#00FF00"/>
						</svg>
						<span class="text-sm">Plus after hours assistance</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white text-black py-4">
		<div class="container opacity-75 text-xs flex gap-2 md:items-center max-md:flex-col md:justify-between max-md:justify-center max-md:text-center">
			<span class="uppercase">
				&copy;
				{{ 'now'|date('Y') }}
				Best 4 Travel</span>
			<div class="flex items-center max-md:justify-center max-sm:flex-wrap gap-5">
				<a href="/terms-and-conditions">Terms & Conditions</a>
				<a href="/privacy-policy">Privacy Policy</a>
				<a href="https://tomdotcom.au" target="_blank">Built by Tom</a>
			</div>
		</div>
	</div>
</footer>
