<section class="footer-testimonials !py-12 lg:!py-20 bg-white overflow-hidden">
	<div class="container-small block-content">
		<div class="mx-auto relative">
			<h4 class="large-heading font-semibold">From our loyal clients</h4>
			<div data-animate-reveal-right class="absolute top-1/2 -translate-y-1/2 left-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
			<div data-animate-reveal-left class="absolute top-1/2 -translate-y-1/2 right-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
		</div>
		<div class="testimonials-slider">
			<div class="swiper-wrapper">
				{% for item in options.testimonials %}
					<div class="swiper-slide text-center font-light !flex flex-col gap-3">
						<p>{{ item.content }}</p>
						<p class="font-heading text-xl">{{ item.name }}</p>
					</div>
				{% endfor %}
			</div>
			<div class="relative w-20 mx-auto mt-10">
				<div class="swiper-button-prev after:hidden">
					<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
						<path d="M12 25L17 27.8867L17 22.1132L12 25ZM37 24.5L16.5 24.5L16.5 25.5L37 25.5L37 24.5Z" fill="#1C63A0"/>
					</svg>
				</div>
				<div class="swiper-button-next after:hidden">
					<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
						<path d="M37 25L32 22.1133L32 27.8868L37 25ZM12 25.5L32.5 25.5L32.5 24.5L12 24.5L12 25.5Z" fill="#1C63A0"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="footer-contact small-padding bg-brandBackground">
	<div class="container-small grid grid-cols-1 sm:grid-cols-5 lg:grid-cols-2 max-sm:justify-center max-sm:gap-6 lg:gap-20 items-center">
		<div class="max-sm:col-span-1 max-lg:col-span-2 flex flex-col max-sm:text-center max-sm:items-center gap-3">
			<h6 class="large-heading font-semibold">Get in touch with our team</h6>
			<p class="font-light">We are always prepared to help with any travel enquiries.</p>
		</div>
		<div class="max-sm:col-span-1 max-lg:col-span-3 flex tems-center justify-center sm:justify-end gap-6">
			<a href="tel:{{ options.company_details.phone }}" class="hover-spin flex flex-col items-center justify-center gap-3 rounded-full aspect-1/1 w-36 h-36 md:h-44 md:w-44 text-center p-6">
				{% include "icons/phone.twig" with { class: "!w-8" } %}
				<span class="max-lg:text-sm font-light">Call us during open hours</span>
			</a>
			<a href="/contact-us" class="hover-spin flex flex-col items-center justify-center gap-3 rounded-full aspect-1/1 w-36 h-36 md:h-44 md:w-44 text-center p-6">
				{% include "icons/mail.twig" with { class: "!w-8" } %}
				<span class="max-lg:text-sm font-light">Send us an enquiry</span>
			</a>
		</div>
	</div>
</section>

<footer class="bg-brandBlueDark text-white">
	<div class="container-small py-12 block-content items-center">
		<span class="max-md:text-xs mb-2 uppercase font-normal">Proudly West Australian</span>
		<div data-animate-stagger-up class="grid grid-cols-2 md:grid-cols-4 items-center gap-6 place-items-center w-full">
			{% for item in options.accreditations %}
				<div><img src="{{ item.accreditation.url }}" alt="{{ item.accreditation.alt }}" class="h-14 object-contain"></div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="w-full h-[1px] bg-white opacity-25"></div>
	</div>
	<div class="container-small py-12">
		<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 md:place-items-center !items-start">
			<div class="flex flex-col gap-4">
				<span class="uppercase font-medium tracking-wide">Get in touch</span>
				<div class="flex flex-col gap-5">
					{% if options.company_details.phone %}
						<div class="flex flex-col gap-1">
							<span class="text-sm large-heading font-semibold">Call us</span>
							<a href="tel:{{ options.company_details.phone }}" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">{{ options.company_details.phone }}</a>
						</div>
					{% endif %}
					{% if options.company_details.email %}
						<div class="flex flex-col gap-1">
							<span class="text-sm large-heading font-semibold">Send an email</span>
							<a href="mailto:{{ options.company_details.email }}" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">{{ options.company_details.email }}</a>
						</div>
					{% endif %}
					<div class="flex flex-col gap-1">
						<span class="text-sm large-heading font-semibold">Keep up to date</span>
						<a href="/subscribe" class="duration-100 w-fit border-b border-b-[#07C0F1] border-opacity-50 hover:!border-opacity-100">Subscribe to our newsletter</a>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-8">
				<div class="flex flex-col gap-4">
					<span class="uppercase font-medium tracking-wide">Open Hours</span>
					<div class="flex flex-col gap-4">
						<div class="flex flex-col gap-1">
							<span class="text-sm large-heading font-semibold">All Week</span>
							<span>7AM - 7PM</span>
						</div>
						<div class="flex items-center gap-4">
							<svg width="6" height="6" viewbox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="active-icon">
								<path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3Z" fill="#00FF00"/>
							</svg>
							<span class="text-sm">Plus after hours assistance</span>
						</div>
					</div>
				</div>
				<div class="flex flex-col gap-4">
					<span class="uppercase font-medium tracking-wide">Follow us</span>
					<div class="flex items-center gap-3">
						{% if options.social_media.facebook %}
							<a href="{{ options.social_media.facebook }}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="#FFFFFF"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"/></svg>
							</a>
						{% endif %}
						{% if options.social_media.instagram %}
							<a href="{{ options.social_media.instagram }}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="#FFFFFF"><path d="M17.833 6.595v1.476c0 .237-.193.429-.435.429h-1.465c-.238 0-.434-.192-.434-.429v-1.476c0-.237.195-.428.434-.428h1.465c.242 0 .435.191.435.428zm-5.833 7.498c1.121 0 2.028-.908 2.028-2.029s-.907-2.029-2.028-2.029-2.028.908-2.028 2.029.907 2.029 2.028 2.029zm12-2.093c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-5-1.75h-3.953c.316.533.508 1.149.508 1.813 0 1.968-1.596 3.564-3.563 3.564-1.969 0-3.564-1.596-3.564-3.564 0-.665.191-1.281.509-1.813h-3.937v5.996c0 1.521 1.27 2.754 2.791 2.754h8.454c1.521 0 2.755-1.233 2.755-2.754v-5.996zm-7.009 4.559c1.515 0 2.745-1.232 2.745-2.746 0-.822-.364-1.56-.937-2.063-.202-.177-.429-.324-.677-.437-.346-.157-.729-.245-1.132-.245-.405 0-.788.088-1.133.245-.246.112-.474.26-.675.437-.574.503-.938 1.242-.938 2.063.001 1.514 1.234 2.746 2.747 2.746zm7.009-7.055c0-1.521-1.234-2.754-2.755-2.754h-7.162v2.917h-.583v-2.917h-.583v2.917h-.584v-2.872c-.202.033-.397.083-.583.157v2.715h-.583v-2.393c-.702.5-1.167 1.31-1.167 2.23v1.913h4.359c.681-.748 1.633-1.167 2.632-1.167 1.004 0 1.954.422 2.631 1.167h4.378v-1.913z"/></svg>
							</a>
						{% endif %}
						{% if options.social_media.linkedin %}
							<a href="{{ options.social_media.linkedin }}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="#FFFFFF">
									<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/>
								</svg>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-3">
				<span class="uppercase font-medium tracking-wide">Navigation</span>
				<div class="flex flex-col gap-2">
					{% for item in footer_menu.get_items %}
						<a href="{{ item.link }}" class="font-heading text-xl md:text-2xl tracking-wider font-light duration-100 hover:opacity-75">{{ item.title }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white text-black py-4 relative">
		<div class="container opacity-75 text-xs flex gap-2 md:items-center max-md:flex-col md:justify-between max-md:justify-center max-md:text-center">
			<span class="uppercase">
				&copy;
				{{ 'now'|date('Y') }}
				Best 4 Travel</span>
			<div class="flex items-center max-md:justify-center max-sm:flex-wrap gap-5">
				<a href="/terms-and-conditions">Terms & Conditions</a>
				<a href="/privacy-policy">Privacy Policy</a>
				<a href="https://tomdotcom.au" target="_blank">Built by Tom</a>
			</div>
		</div>
	</div>
</footer>

<div class="deal-modal bg-black bg-opacity-75 fixed top-0 left-0 flex items-center justify-center w-screen h-full opacity-0 pointer-events-none duration-500 -z-50">
	<div class="deal-modal-inner relative bg-white w-[95%] mt-10 md:mt-20 h-full md:w-4/5 translate-y-10 duration-500">
		<div class="toggle-deal-modal absolute z-50 top-4 right-4 p-4 flex items-center gap-2 cursor-pointer">
			{% include "icons/cross.twig" with { class: "relative stroke-white" } %}
			<span class="text-black">Close</span>
		</div>
		<div class="relative pt-20 pb-20 md:pb-32 container h-full">
			{% for item in fields.deals %}
				<div data-lenis-prevent data-deal-content="{{ loop.index }}" class="deal-content block-content items-center !hidden mx-auto h-full overflow-y-scroll">
					{% if item.background %}
						{% include "partial/image.twig" with { image: Image(item.background).src, alt: item.background.alt, class: "w-full aspect-[4/1] object-center object-cover pointer-events-none" } %}
					{% endif %}
					<div class="block-content items-center text-center max-w-[900px]">
						<h3>{{ item.title }}</h3>
						<p class="text-lg font-medium">{{ item.price }}</p>
						<p>{{ item.details }}</p>
						<a href="/contact-us" class="button">Book now</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
