{% extends "page.twig" %}

{% block banner %}
	<section class="home-banner relative h-[450px] sm:h-[550px] md:h-[650px] lg:h-[800px] 2xl:h-[1100px] overflow-hidden">
		<div data-curtain class="absolute bottom-0 left-0 z-[1000000] w-screen h-0 bg-white pointer-events-none"></div>
		<video class="absolute top-0 left-0 z-10 h-full object-cover w-full" preload="auto" loop autoplay muted playsinline>
			<source class="absolute top-0 left-0 h-full w-full" src="{{ fields.home_banner.background_video_link }}" type="video/mp4" poster="{{ fields.home_banner.video_poster.url }}">
			Your browser does not support the video tag.
		</video>
		<div class="absolute z-10 top-0 left-0 w-full h-full bg-black bg-opacity-40"></div>
		<div class="h-full flex items-center justify-center">
			<div class="relative z-20 container flex items-center justify-center text-white mt-28">
				<div data-animate-stagger-down class="text-parallax block-content items-center text-center">
					<h1>{{ fields.home_banner.heading }}</h1>
					<h2 class="is-h4">{{ fields.home_banner.subheading }}</h2>
					<div>
						<a href="/travel-types" class="button banner-button">Get started</a>
					</div>
				</div>
				<div data-animate-banner-reveal-down class="absolute z-10 top-full left-1/2 -translate-x-1/2 h-screen w-[1px] border-l md:border-dashed border-l-white"></div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	{% if fields.short_statement %}
		<section class="bg-white relative overflow-hidden">
			<div class="container-small max-2xl:!max-w-[830px]">
				<div class="block-content items-center text-center">
					{% include "icons/logo-icon.twig" with { class: "max-md:w-20 h-auto" } %}
					<div class="relative">
						<h4>{{ fields.short_statement }}</h4>
						<div data-animate-reveal-down class="absolute top-[calc(100%+10px)] left-1/2 -translate-x-1/2 h-full w-[1px] border-l md:border-dashed border-l-[#0073AD] border-opacity-75"></div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<section class="bg-gradient-to-br from-[#1B629F] to-[#00C2F3] text-white -mb-20 lg:-mb-40 overflow-x-hidden">
		<div class="flex flex-col gap-10 relative z-10">
			<div data-animate-stagger-down class="container-small block-content text-center items-center">
				{{ fields.destinations_slider.content }}
			</div>
			<div class="destinations-slider">
				<div class="swiper-wrapper">
					{% for item in all_destinations %}
						{% if item.featured_destination == true %}
							{% include "tease-destination.twig" with { class: "swiper-slide" } %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="bg-brandBackground !pb-0 overflow-hidden">
		<div class="pt-10">
			<section class="relative">
				<div data-animate-reveal-center class="absolute top-0 left-1/2 -translate-x-1/2 w-screen h-[2px] border-t border-t-[#1C63A0] border-opacity-30"></div>
				<div class="container">
					<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-5 lg:gap-10 w-full">
						{% for item in travel_types %}
							{% if item.slug != 'uncategorized' %}
								{% include "tease-travel-type.twig" %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
		</div>
	</section>

	<section class="local-getaways bg-white">
		<div class="container">
			<div data-animate-stagger-fade class="grid md:grid-cols-6 gap-3 md:gap-5">
				<div class="md:col-span-3 bg-brandBlueDark block-content p-7 md:p-10 text-white">
					{{ fields.local_getaways.content }}
				</div>
				{% for item in all_local_destinations %}
					{% if item.featured_local_getaway == true %}
						{% include "tease-local-destination.twig" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bg-brandBlueLight">
		<div class="container">
			<div class="relative flex lg:items-center max-lg:flex-col">
				{% if fields.our_experience.content %}
					<div data-fade-down class="z-10 w-full lg:w-[475px] lg:absolute px-8 py-10 bg-brandBackground block-content">
						{{ fields.our_experience.content }}
					</div>
				{% endif %}
				{% if fields.our_experience.image %}
					<div data-fade-up class="aspect-16/9 lg:w-[90%] relative lg:ml-auto">
						{% include "partial/image.twig" with { image: Image(fields.our_experience.image).src, alt: fields.our_experience.image.alt, class: "h-full w-full absolute top-0 left-0 object-center object-cover" } %}
					</div>
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
