{% extends "page.twig" %}

{% block banner %}
	{% include "banners/destination-banner.twig" %}
{% endblock %}

{% block content %}
	{% if fields.deals %}
		<section class="deals relative bg-white overflow-hidden">
			<div class="container">
				<div class="relative flex lg:items-center max-lg:flex-col gap-6 md:gap-12 lg:gap-[150px]">
					<div class="deals-content lg:mb-6 flex flex-col gap-4 md:gap-6 max-lg:max-w-lg lg:w-1/4 duration-[0.4s] ease-in-out">
						<span class="supertitle">Our offers</span>
						<h3>Current Deals</h3>
						<p class="block-content">Check out our latest offers and get in touch with us to begin packing for your next adventure.</p>
						<div class="max-lg:hidden w-fit relative">
							<p class="italic opacity-50 font-heading uppercase">Drag to view</p>
							<div data-animate-reveal-right class="absolute top-1/2 -translate-y-1/2 left-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
						</div>
					</div>
					<div class="w-full lg:w-1/2">
						<div data-fade-left class="deals-slider">
							<div class="swiper-wrapper cursor-grab !h-[450px] 2xl:!h-[550px]">
								{% for item in fields.deals %}
									<div class="swiper-slide relative overflow-hidden !flex !items-end bg-cover bg-bottom duration-500 bg-[#b1b1b1]">
										{% if item.background %}
											<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black via-[rgba(0,0,0,0.5)] to-transparent z-10"></div>
											{% include "partial/image.twig" with { image: Image(item.background).src, alt: item.background.alt, class: "image-parallax max-md:h-[150%] h-[120%] absolute top-0 left-0 w-full object-center object-cover" } %}
										{% endif %}
										<div class="relative z-20 w-full px-6 py-7 block-content text-white">
											<div class="flex flex-col gap-3">
												<h6 class="large-heading">{{ item.title }}</h6>
												<p>{{ item.price }}</p>
											</div>
											{% if item.link_deal_to_external_website == true %}
												<a href="{{ item.website_url }}" class="button arrow" target="_blank">
													<span class="pointer-events-none">Visit website</span>
													<svg class="pointer-events-none" width="37" height="37" viewbox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="18.5" cy="18.5" r="18" stroke="white" stroke-dasharray="2 2"/>
														<path d="M27.2652 19.2652C27.4116 19.1187 27.4116 18.8813 27.2652 18.7348L24.8787 16.3483C24.7322 16.2019 24.4948 16.2019 24.3483 16.3483C24.2019 16.4948 24.2019 16.7322 24.3483 16.8787L26.4697 19L24.3483 21.1213C24.2019 21.2678 24.2019 21.5052 24.3483 21.6517C24.4948 21.7981 24.7322 21.7981 24.8787 21.6517L27.2652 19.2652ZM9 19.375L27 19.375V18.625L9 18.625V19.375Z" fill="white"/>
													</svg>
												</a>
											{% else %}

												<button data-deal-button="{{ loop.index }}" class="toggle-deal-modal button arrow">
													<span class="pointer-events-none">View details</span>
													<svg class="pointer-events-none" width="37" height="37" viewbox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="18.5" cy="18.5" r="18" stroke="white" stroke-dasharray="2 2"/>
														<path d="M27.2652 19.2652C27.4116 19.1187 27.4116 18.8813 27.2652 18.7348L24.8787 16.3483C24.7322 16.2019 24.4948 16.2019 24.3483 16.3483C24.2019 16.4948 24.2019 16.7322 24.3483 16.8787L26.4697 19L24.3483 21.1213C24.2019 21.2678 24.2019 21.5052 24.3483 21.6517C24.4948 21.7981 24.7322 21.7981 24.8787 21.6517L27.2652 19.2652ZM9 19.375L27 19.375V18.625L9 18.625V19.375Z" fill="white"/>
													</svg>
												</button>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="destinations-slider-nav relative w-28 ml-auto mt-14">
					<div class="absolute top-1/2 -translate-y-1/2 right-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-20"></div>
					<div class="swiper-button-prev after:hidden !h-[40px] !w-[40px]">
						<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
							<path d="M12 25L17 27.8867L17 22.1132L12 25ZM37 24.5L16.5 24.5L16.5 25.5L37 25.5L37 24.5Z" fill="#1C63A0"/>
						</svg>

					</div>
					<div class="swiper-button-next after:hidden !h-[40px] !w-[40px]">
						<svg width="50" height="50" viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="25" cy="25" r="24.5" fill="white" stroke="#1C63A0"/>
							<path d="M37 25L32 22.1133L32 27.8868L37 25ZM12 25.5L32.5 25.5L32.5 24.5L12 24.5L12 25.5Z" fill="#1C63A0"/>
						</svg>
					</div>
				</div>
			</div>
		</section>
	{% elseif fields.remove_no_deals_section == false %}
		<section class="relative bg-brandBackground">
			<div class="container">
				<div class="block-content items-center text-center">
					<h3 class="is-h4">We have no deals for
						{{ post.title }}
						available right now.</h3>
					<h6>Please get in touch to discover what's on offer.</h6>
					<a href="/contact-us" class="button">Contact Us</a>
				</div>
			</div>
		</section>
	{% elseif fields.remove_no_deals_section == true %}
		<section class="relative bg-brandBackground">
			<div class="container-small">
				<div class="block-content">
					{{ fields.replaced_content }}
				</div>
			</div>
		</section>
	{% endif %}


	{% if fields.about.content %}
		<section class="relative">
			<div class="container">
				<div class="grid md:grid-cols-3 max-md:gap-4 md:gap-20 lg:gap-28">
					<div class="md:col-span-1">
						<h3 class="is-h4 large-heading">{{ fields.about.heading}}</h3>
					</div>
					<div class="about-destination-content md:col-span-2 block-content">
						{{ fields.about.content }}
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	{% if fields.gallery %}
		<section class="relative !pt-0">
			<div class="container">
				<div class="destination-gallery-grid grid grid-cols-2 gap-3 md:gap-5">
					{% for item in fields.gallery %}
						{% include "partial/image.twig" with { image: Image(item).src, alt: item.alt, attributes:'data-fade', class: "destination-gallery-image w-full aspect-16/9 md:aspect-[16/9] object-center object-cover pointer-events-none" } %}
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}

	<section class="relative !py-10">
		<div class="container items-center">
			<a href="/travel-types/{{ post.terms('travel-types')[0].slug }}" class="button mx-auto">Back to
				{{ post.terms('travel-types')[0].name }}
				Travel</a>
		</div>
	</section>
{% endblock %}
